* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F8FD !important;
    font-family: 'Inter';
    text-decoration: none;
    display: flex;
}

ul {
    list-style: none;
    padding: 0 !important
}

/* header */
.advert-logo img{
    margin: 0 70px;
}

header {
    min-width: 290px;
    max-width: 290px;
    background-color: #FFFFFF;
    box-shadow: -4px 0px 0px 0px #7C8DB026 inset;
    height: 100vh;
    padding-right: 4px;
    padding-top: 43px;
}

header a img {
    margin: auto 0;
    margin-right: 10px;
}

header a p {
    color: #7C8DB0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0;
    height: 24px;
    margin: auto 0;
}

.user-info {
    display: flex;
    height: 122px;
    border-bottom: 2px solid #7C8DB026;
    padding-bottom: 36px;
    gap: 24px;
    padding-left: 20px;
}

.user-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info-text p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
}

.user-info-text a {
    display: flex;
}

.user-info-text a p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

img.link-icon {
    width: 24px;
    height: 24px;
}

.site-nav li a{
    height: 52px;
    transition: all .2s linear;
    margin-left: 20px;
}

.site-nav li:hover {
    background-color: #F4F8FD;
}

#notifications {
    height: 52px;
    margin-left: 20px;
}

.notifications-wrapper {
    border-bottom: 2px solid;
    border-color: #7C8DB026;
    margin-bottom: 30px;
}

#notifications img, #notifications p{
    margin: auto 0;
}

#faq {
    margin-right: -4px;
    border-right: 4px solid #00A3FF
}
/* header */

/* main */
h1 {
    font-size: 40px;
    font-weight: 700 !important;
    line-height: 50px;
    text-align: left;
    margin-bottom: 45px;
}

main {
    padding-top: 64px;
    padding-left: 20px;
}

button.dropdown-toggle {
    background-color: #FFFFFF;
    border: 0;
}
/* main */